@model Vidly.Models.Customer
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var display = Model == null ? "No Customer with this ID" : Model.Name;
 }

<h2>@display</h2>

<ul>
    <li>Membership Type: @Model.MemberShipType.Name</li>
    @{
        if (Model.Birthdate != null)
        {
            <li>Birthdate: @Model.Birthdate.Value.ToShortDateString()</li>
        }
    }
</ul>

